<configuration>
  <!-- Register a section handler for the log4net section -->
  <configSections>
    <section name="log4net" type="System.Configuration.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <root>
      <level value="Error" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4Net_Log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %property{DBID} [%thread] %-5level %logger [%ndc] - %message%newline" />
      </layout>
    </appender>
		<appender name="AdoNetAppender1" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1"/>
      <!-- connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" -->
      <connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient,Culture=neutral,PublicKeyToken=23ec7fc2d6eaa4a5" />
			<connectionStringName value="conPRD" />
			<commandText value="INSERT INTO tblLog ([LogDate],[Thread],[Level],[Logger],[Message],[Exception],[HostName],[VersionCode]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @HostName, @VersionCode)" />
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="2000" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<parameter>
				<parameterName value="@HostName" />
				<dbType value="String" />
				<size value="15" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{log4net:HostName}"/>
				</layout>
			</parameter>
      <parameter>
        <parameterName value="@VersionCode" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout" >
          <conversionPattern value="%property{VersionCode}" />
        </layout>
      </parameter>
		</appender>
  </log4net>
</configuration>